
body {
    font-family: helvetica; 
}

h1 {
	font-family: helvetica; 
    color: gray !IMPORTANT;
}

.button {
    background-color: #52B3D9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.button:active{
	background-color: #81CFE0
}

 p {
  color: #52B3D9;
  font-family: helvetica, verdana;
  font-size: 2rem;
}

